* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*-----------
-------Cuerpo-------
-----------*/

body {
    
    background: rgba(0, 0, 0, .1);
}

.contenedor {
    padding: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 30px;
}

header h1 {
    text-align: center;
    padding: 30px 0;
}

.date {
    font-weight: bold;
    color: #9b9b9b;
    text-align: center;
    padding-bottom: 20px;
}

.datos_proyecto {
    border-radius: 20px;
    background: #fff;
    padding: 20px;
}

.datos_proyecto .descripcion{
    text-align: justify;
}

.referencias {
    display: flex;
}

.datos_proyecto .repos,
.datos_proyecto .host {
    width: 50%;
    text-align: center;
    padding: 20px 0;
}

.datos_proyecto .repos a, 
.datos_proyecto .host a {
    text-decoration: none;
}


/*--------
----Movil----
-------*/

@media screen and (max-width: 450px){
    .contenedor {
        padding: 0 10%;
    }

    header h1 {
        font-size: larger;
    }
    .datos_proyecto .referencias {
        display: block;
    }

    .datos_proyecto .referencias .repos,
    .datos_proyecto .referencias .host
    {
        width: 100%;
    } 
}

/*--------
----Tablet----
-------*/

@media screen and (min-width: 451px) and (max-width: 799px){
    .contenedor {
        padding: 0 10%;
    }
}
