<div class="contenedor">
  <div class="flex">
    <header>
      <h1>Nombre del proyecto</h1>
    </header>
    <div class="date">
      <p>02/04/2021</p>
    </div>
    <div class="datos_proyecto">
      <p class="descripcion">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut velit rem
        vero et, enim, fugiat magnam est laudantium aspernatur soluta reiciendis
        vel, maiores ea! Error fuga cumque quod. Molestias, exercitationem! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Quod laboriosam sed
        voluptatum molestiae reprehenderit, voluptates tempore labore? Similique,
        modi ea? Deleniti itaque veritatis odit? Expedita laboriosam obcaecati
        eveniet accusantium omnis. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Totam temporibus maxime ipsam animi molestias quos sit
        quam, unde, numquam dolorem aut. Consectetur quae repudiandae possimus
        esse molestias at sequi eaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut velit rem
        vero et, enim, fugiat magnam est laudantium aspernatur soluta reiciendis
        vel, maiores ea! Error fuga cumque quod. Molestias, exercitationem! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Quod laboriosam sed
        voluptatum molestiae reprehenderit, voluptates tempore labore? Similique,
        modi ea? Deleniti itaque veritatis odit? Expedita laboriosam obcaecati
        eveniet accusantium omnis. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Totam temporibus maxime ipsam animi molestias quos sit
        quam, unde, numquam dolorem aut. Consectetur quae repudiandae possimus
        esse molestias at sequi eaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut velit rem
        vero et, enim, fugiat magnam est laudantium aspernatur soluta reiciendis
        vel, maiores ea! Error fuga cumque quod. Molestias, exercitationem! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Quod laboriosam sed
        voluptatum molestiae reprehenderit, voluptates tempore labore? Similique,
        modi ea? Deleniti itaque veritatis odit? Expedita laboriosam obcaecati
        eveniet accusantium omnis. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Totam temporibus maxime ipsam animi molestias quos sit
        quam, unde, numquam dolorem aut. Consectetur quae repudiandae possimus
        esse molestias at sequi eaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut velit rem
        vero et, enim, fugiat magnam est laudantium aspernatur soluta reiciendis
        vel, maiores ea! Error fuga cumque quod. Molestias, exercitationem! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Quod laboriosam sed
        voluptatum molestiae reprehenderit, voluptates tempore labore? Similique,
        modi ea? Deleniti itaque veritatis odit? Expedita laboriosam obcaecati
        eveniet accusantium omnis. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Totam temporibus maxime ipsam animi molestias quos sit
        quam, unde, numquam dolorem aut. Consectetur quae repudiandae possimus
        esse molestias at sequi eaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut velit rem
        vero et, enim, fugiat magnam est laudantium aspernatur soluta reiciendis
        vel, maiores ea! Error fuga cumque quod. Molestias, exercitationem! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Quod laboriosam sed
        voluptatum molestiae reprehenderit, voluptates tempore labore? Similique,
        modi ea? Deleniti itaque veritatis odit? Expedita laboriosam obcaecati
        eveniet accusantium omnis. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Totam temporibus maxime ipsam animi molestias quos sit
        quam, unde, numquam dolorem aut. Consectetur quae repudiandae possimus
        esse molestias at sequi eaque.
      </p>
      <div class="referencias">
        <p class="repos">
          Repositorio -
          <a href="https://www.youtube.com/">repositorio.nombre</a>
        </p>
        <p class="host">
          hosting - <a href="https://www.youtube.com/">hosting.nombre</a>
        </p>
      </div>
    </div>
  </div>
</div>
<footer>
    section footer
</footer>
