<div class="titulo">
  <h1>Ronal Ayra Revollo</h1>
  <p>Desarrollador web</p>
</div>

<div (click)="menu_barra()" id="mostrar_barra"></div>
<nav id="menu_bar">
  <ul class="menu">
    <li>
      <a href="">Todos</a>
    </li>
    <li>
      <a href="">Android</a>
    </li>
    <li>
      <a href="">Web Front end</a>
    </li>
    <li>
      <a href="">Web Back end</a>
    </li>
    <li>
      <a href="">Curriculum</a>
    </li>
  </ul>
</nav>
<div class="contenedor">
  <div class="imagen">
    <div class="cont_img">
      <img src="../../../assets/imagenes/image1.jpg" alt="" />
    </div>
  </div>
  <div class="descripcion_p">
    <div class="contenedor_des">
      <h1>Proyecto</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        tempore rerum saepe vitae est perspiciatis error, quia odio ad libero,
        dolore nihil at dicta corrupti doloribus qui fugiat ab neque. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Harum ea eligendi
        optio sunt. Quod, expedita pariatur unde voluptate aliquam recusandae,
        quam est perspiciatis ut maiores facere maxime dolore! Beatae,
        inventore.
      </p>
      <button (click)="redirectProyecto()">Ver mas</button>
    </div>
  </div>
</div>
<div class="contenedor">
  <div class="imagen">
    <div class="cont_img">
      <img src="../../../assets/imagenes/image1.jpg" alt="" />
    </div>
  </div>
  <div class="descripcion_p">
    <div class="contenedor_des">
      <h1>Proyecto</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        tempore rerum saepe vitae est perspiciatis error, quia odio ad libero,
        dolore nihil at dicta corrupti doloribus qui fugiat ab neque. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Harum ea eligendi
        optio sunt. Quod, expedita pariatur unde voluptate aliquam recusandae,
        quam est perspiciatis ut maiores facere maxime dolore! Beatae,
        inventore.
      </p>
      <button (click)="redirectProyecto()">Ver mas</button>
    </div>
  </div>
</div>
