/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    background: rgba(0,0,0,.1);
}
